.form-container {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #005da5;
	cursor: pointer;
}

.error-msg {
	display: flex;
	align-items: center;
	color: red;
	font-size: 14px;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
	text-align: left;
	/* width: 166px; */
	height: 24px;
	/* padding-left: 1rem; */
}

.error-msg img {
	margin-right: 0.5rem;
}

.input-container {
	position: relative;
	width: 100%;
}

.label {
	position: absolute;
	top: 5px;
	left: 18px;
	font-size: 12px;
	color: #919191;
}

.sub-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	background-color: #fafafa;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: 2px solid #edeeef;
}

.input {
	width: 631px;
	height: 56px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	border: 1px solid #edeeef;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

.text-area {
	width: 631px;
	height: 126px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	border: 1px solid #edeeef;
	padding-top: 1.3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

.input:focus {
	outline: none;
	border: 1px solid #919196;
}

.text-area:focus {
	outline: none;
	border: 1px solid #919196;
}

.recaptcha {
	display: flex;
	width: 309px;
	height: 74px;
	margin-top: 1rem;
}

.buttons {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 2.5rem;
	text-align: end;
	background-color: white;
	width: 710px;
	min-height: 71px;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-bottom: 2px solid #edeeef;
	font-size: 20px;
	font-weight: 600;
	min-height: 71px;
}

.submit-btn {
	width: 120px;
	height: 43px;
	background-color: #005da5;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	border: none;
	letter-spacing: 1px;
}
.submit-btn-disabled {
	width: 120px;
	height: 43px;
	opacity: 0.5;
	background-color: #005da5;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	border: none;
	letter-spacing: 1px;
}

.cancel-btn {
	width: 120px;
	height: 43px;
	background-color: white;
	color: #005da5;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	border: none;
	letter-spacing: 1px;
}

#the-count {
	color: #cccecf;
	text-align: right;
	margin-top: -3rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	z-index: 1;
	padding: 0;
	font-size: 0.875rem;
}

@media (max-width: 768px) {
	.sub-wrapper {
		padding: 0;
		border: hidden;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.buttons {
		margin: auto;
		padding-right: 0px;
		width: 90%;
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		align-self: center;
	}

	.header {
		background-color: white;
		border-bottom: 2px solid #edeeef;
		margin-bottom: 1rem;
		padding: 0;
		font-size: 20px;
		font-weight: 600;
		height: 60px;
		border: hidden;
	}

	.input {
		width: 330px;
		height: 56px;
		padding: 0;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 1rem;
	}

	.text-area {
		width: 330px;
		height: 156px;
		padding: 0;
		padding-left: 1rem;
		padding-top: 1rem;
		padding-right: 1rem;
		margin-bottom: 1rem;
	}

	.recaptcha {
		width: 330px;
		justify-content: center;
		height: 74px;
	}

	.submit-btn {
		width: 330px;
		min-height: 64px;
		padding: 0;
	}

	.cancel-btn {
		width: 330px;
		min-height: 64px;
		padding: 0;
	}

	.submit-btn-disabled {
		width: 330px;
		min-height: 64px;
		padding: 0;
	}

	.close-btn {
		position: absolute;
		top: 27px;
		right: 20px;
		color: #005da5;
		cursor: pointer;
	}
}
